@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  background-color: f1f6f9;
  font-size: 15;
}

h1 {
  font-weight: 300;
  font-size: 50;
  color: 16697a;
}

h2 {
  font-weight: 300;
}

a {
  text-decoration: none;
}
a:hover {
  color: bb2205;
  text-decoration: underline;
}

.img-circle {
  border-radius: 50%;
  background-color: 9ba4b4;

}

.button {
  margin: auto;
  padding: 5px;
  border: 3px solid lightgrey;
  background-color: ebebeb;
  text-align: center;
  width: 100px;
  border-radius: 10px;
}

#social > li {
  color: blue;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
